.input {
    position: relative;
    background-color: #f0f0f0;
    display: inline-block;
}

.input__field {
    border: none;
    outline: 0;
    background-color: inherit;
    margin-top: 1rem;
    font-size: 2rem;
}

.input__placeholder {
    position: absolute;
    top: 1rem;
    left: 0;
    // width: 100%;
    transition: 0.2s;
    font-size: 2rem;
    background-color: transparent;
}

.input__field:focus + .input__placeholder {
    top: -1rem;
    margin-top: 10px;
    font-size: 1rem;
}